doctype html
html
    head
        link(rel="stylesheet" href="./style.css" type="text/css")
    body
        #main
            svg
            .menu
            .menu2
    script(src="./min.js")
        
