doctype html
html
    head
        link(rel="stylesheet" href="./style.css" type="text/css")
    body
        #main
            svg
            .menu
    script(src="./vect.js")
    script(src="./quat.js")
    script(src="./online.js")
        
