
#main
    background      black
    position        absolute 
    left            0
    top             0
    right           0
    bottom          0
    padding         0
    margin          0
    overflow        hidden
    
svg
    width           100%
    height          100%
    stroke-width    10px
    stroke          white
    fill            none
  
.menul
    position        absolute
    top             0
    left            0

.menur
    position        absolute
    top             0
    right           0
    
.button
    cursor          pointer
    font-family     sans-serif
    padding         1em
    padding-bottom  0
    &:hover 
        color       white
    color           #444
    &.bot
        color       #f00
    &.usr
        color       #fff
    user-select         none
    -moz-user-select    none
    -webkit-user-select none
    
.line
    &.usr
        stroke      #fff
    &.bot
        stroke      #f00
    pointer-events  none
    stroke-linecap  round
    stroke-linejoin bevel
    
.dot
    pointer-events  all
    stroke-width    0.1
    fill            #000
    stroke          #555    
    &.bot
        stroke      none
        fill        #f00
    &.usr
        stroke      none
        fill        #fff
        &.linked:hover      
            cursor  pointer
            // fill    #88f
    &.src    
        fill        #88f
.pie
    pointer-events  none
    stroke          none
    fill            #000
    
.dbg
    stroke          #88f
    stroke-width    1
    
.tmpl
    stroke-width    2 
    &.usr
        stroke      #88f 
    &.bot
        stroke      #ff0
    stroke-linejoin bevel
    stroke-linecap  round
    pointer-events  none