
usrColor = #88f
usrHighl = #fff
botColor = #f00
botHighl = #ff0

#main
    font-family     sans-serif
    color           #222
    background      black
    position        absolute 
    left            0
    top             0
    right           0
    bottom          0
    padding         0
    margin          0
    overflow        hidden
    user-select         none
    -moz-user-select    none
    -webkit-user-select none
    
svg
    width           100%
    height          100%
    stroke-width    10px
    stroke          white
    fill            none
  
.menul
    position        absolute
    top             0
    left            0

.menur
    position        absolute
    top             0
    right           0
    
.choice
.inline
    display         inline-block
    
.choice
.button
    padding         1em
    padding-bottom  0
    
.button
    display         inline-block
    cursor          pointer
    &:hover 
        color       white
    color           #444
    &.highlight
    &.bot
        color       botColor
    &.usr
        color       usrColor
    
.menur .button
    display         block
    
.world
    stroke          #222
    stroke-width    1
    
.line
    stroke          #333
    &.usr
        stroke      usrColor
        &.tmp
            stroke  usrHighl
    &.bot
        stroke      botColor
        &.tmp
            stroke  botHighl
    pointer-events  none
    stroke-linecap  round
    stroke-linejoin bevel
    
.grph
    stroke-width    1
    fill            none
    &.usr
        stroke      usrColor
    &.bot
        stroke      botColor
    
.dot
    pointer-events  all
    stroke-width    0.1
    fill            #000
    stroke          #555    
    &.src 
        fill        #444
        
    &.bot
        stroke      none
        fill        botColor
        &.src    
            fill    botHighl
    &.usr
        stroke      none
        fill        usrColor
        &.linked:hover      
            cursor  pointer
        &.src    
            fill    usrHighl
.pie
    pointer-events  none
    stroke          none
    fill            #000
    
.dbg
    stroke          usrColor
    stroke-width    1
    
.msg
    text-align      center
    padding         1em
    border-radius   1em
    position        absolute
    top             50%
    left            50%
    transform       translate(-50%, -50%)
    color           #fff
    background      rgba(0,0,0,0.8)
    &.bot
        color       botColor
        opacity     1
    &.usr
        color       usrColor
        opacity     1
        
.hint1
.hint2
.popup
    text-align      center
    padding         1em
    border-radius   1em
    position        absolute
    left            50%
    transform       translate(-50%, -50%)
    color           #aaa
    background      rgba(0,0,0,0.8)
    
.popup
    pointer-events  none
    top             0
    left            0
    
.hint1
    top             30%
.hint2
    top             70%
    
.spark
    stroke          none
    &.usr
        fill        usrColor
    &.bot
        fill        botColor
    
    